/* ==============================================
   Grid
   ============================================== */

/* --- KNOBS (JUSTÉR) --- */
:root{
  --grid-aside-width: 326px;
  --grid-aside-gap: 64px;
}

/* --- SYSTEM (NIX PILLE) --- */
:root{
  --grid-eyebrow-max: calc(var(--grid-aside-width) - var(--grid-aside-gap));
}

@media (min-width: 1025px){
  .container .aside{
    max-width: var(--grid-aside-width);
    padding-right: var(--grid-aside-gap);
  }

  .container .grid{
    max-width: calc(100% - var(--grid-aside-width));
  }

  .container .grid .eyebrow{
    max-width: var(--grid-eyebrow-max);
  }
}

