/* ===========================================
   FONT  (låses så snart vi er enige)
   =========================================== */

body {
background-color: rgb(238, 47, 255);
}


/* ===========================================
   RETTELSER  (det der får migration til at fungere)
   =========================================== */


/* ===========================================
   GODKENDT  (færdige beslutninger)
   =========================================== */


/* ===========================================
   NYE ØNSKER  (ikke nødvendige for migration)
   =========================================== */

/* Siden sidst */

/* ===== GODKENDT ===== */

/* ===== NYE ØNSKER ===== */